{% extends 'base.html.twig' %}

{% block title %}Enrollment{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="js/enrollment.js"></script>
{% endblock %}


{% block main %}
    <div id="tabs">
        <ul>
            <li><a href="#enrollment-tab">Enrollment</a></li>
        </ul>

        <section class="tab" id="enrollment-tab">
            <table class="enrollment-table display compact strip">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Family Name</th>
                    <th>First Name</th>
                    <th>Enrolled</th>
                    <th>Classroom</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="buttons">
                <div class="record-buttons"></div>
                <div class="table-buttons"></div>
            </div>

            <div class="ui-dialog modal-dialog" id="student-props-dlg" title="Add/Edit Student">
                <form>
                    <p class="update-tips"></p>
                    <div>
                        <input class="hidden" name="Id">
                    </div>
                    <label>Family Name</label>
                    <input type="text" name="FamilyName" class="required">
                    <label>First Name</label>
                    <input type="text" name="FirstName" class="required">

                    <label for="">Classroom</label>
                    <select name="ClassroomsList" id="ClassroomId" class="required">
                        <option value="">Select a classroom</option>
                        {% for classroom in classrooms %}
                            <option value="{{ classroom.Id }}">{{ classroom.Label }}</option>
                        {% endfor %}
                    </select>

                    <label>Enrolled </label>
                    <input class="pull-left" type="checkbox" name="Enrolled" checked>


                    <hr>

                    <h2>Schedule</h2>

                    Week Of: <input type="text" name="WeekOf"/>

                    <table class="schedule-table">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>
                                <button class="sched-button" data-key="0x421">Mon</button>
                            </th>
                            <th>
                                <button class="sched-button" data-key="0x842">Tue</button>
                            </th>
                            <th>
                                <button class="sched-button" data-key="0x1084">Wed</button>
                            </th>
                            <th>
                                <button class="sched-button" data-key="0x2108">Thu</button>
                            </th>
                            <th>
                                <button class="sched-button" data-key="0x4210">Fri</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <button class="sched-button" data-key="0x1f">AM</button>
                            </td>
                            <td><input type="checkbox" value="0x01"></td>
                            <td><input type="checkbox" value="0x02"></td>
                            <td><input type="checkbox" value="0x04"></td>
                            <td><input type="checkbox" value="0x08"></td>
                            <td><input type="checkbox" value="0x10"></td>
                        </tr>
                        <tr>
                            <td>
                                <button class="sched-button" data-key="0x3e0">Lunch</button>
                            </td>
                            <td><input type="checkbox" value="0x20"></td>
                            <td><input type="checkbox" value="0x40"></td>
                            <td><input type="checkbox" value="0x80"></td>
                            <td><input type="checkbox" value="0x100"></td>
                            <td><input type="checkbox" value="0x200"></td>
                        </tr>
                        <tr>
                            <td>
                                <button class="sched-button" data-key="0x7c00">PM</button>
                            </td>
                            <td><input type="checkbox" value="0x400"></td>
                            <td><input type="checkbox" value="0x800"></td>
                            <td><input type="checkbox" value="0x1000"></td>
                            <td><input type="checkbox" value="0x2000"></td>
                            <td><input type="checkbox" value="0x4000"></td>
                        </tr>
                        </tbody>
                    </table>

                    <select name="SchedulesList" class=""></select>
                </form>
            </div>
        </section>

    </div>
{% endblock %}
