{% extends 'base.html.twig' %}

{% block title %}Setup{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="js/enrollment.js"></script>
{% endblock %}


{% block main %}
    <h1>Enrollment</h1>

    <div id="tabs">
        <ul>
            <li><a href="#enrollment-tab">Enrollment</a></li>
        </ul>

        <section id="enrollment-tab">
            <h2>Enrollment</h2>
            <table class="enrollment-table display compact strip">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Family Name</th>
                    <th>First Name</th>
                    <th>Enrolled</th>
                    <th>Classroom</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="row">
                <div class="col-xs-6 record-buttons"></div>
                <div class="col-xs-6 table-buttons"><span class="pull-right"></span></div>
            </div>

            <div class="ui-dialog modal-dialog" id="student-props-dlg" title="Add/Edit Student">
                <form>
                    <p class="update-tips"></p>
                    <div>
                        <input class="hidden" name="id">
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Family Name</label>
                            <input type="text" name="family_name">
                        </div>
                        <div class="col-xs-6">
                            <label>First Name</label>
                            <input type="text" name="first_name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label for="">Classroom</label>
                            <select name="classroom_id" id="classroom_id">
                                <option value="">Select a classroom</option>
                                {% for classroom in classrooms %}
                                    <option value="{{ classroom.id }}">{{ classroom.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label>Enrolled </label>
                            <input class="pull-left" type="checkbox" name="enrolled" checked>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Schedule</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <button>Mon</button>
                                    </th>
                                    <th>
                                        <button>Tue</button>
                                    </th>
                                    <th>
                                        <button>Wed</button>
                                    </th>
                                    <th>
                                        <button>Thu</button>
                                    </th>
                                    <th>
                                        <button>Fri</button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <button>AM</button>
                                    </td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button>Noon</button>
                                    </td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button>PM</button>
                                    </td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </section>

    </div>
{% endblock %}
