{% extends 'base.html.twig' %}

{% block title %}Attend | Profile{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="js/profile.js"></script>
{% endblock %}


{% block main %}
    <h1>Profile</h1>
    <div class="form-box">
        <label for="">Username: </label>
        <span>{{ account.username }}</span>
    </div>
    <div class="form-box">
        <label for="">Email Address:</label>
        <input type="email" name="email" placeholder="Enter email address" value="{{ account.email }}"
               data-value="{{ account.email }}">
    </div>

    <div class="form-box">
        <button name="submit">Update</button>
    </div>


{% endblock %}