{% extends 'base.html.twig' %}

{% block title %}Setup{% endblock %}

{% block main %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae obcaecati quia ratione vero! Laboriosam maiores
    pariatur quis ratione similique sunt? Accusantium debitis impedit nulla odit quam ratione sed ullam?</p>
{% endblock %}