{% extends 'base.html.twig' %}

{% block title %}Setup{% endblock %}

{% block scripts %}
{{ parent() }}
    <script src="js/setup.js"></script>
{% endblock %}


{% block main %}
    <div id="tabs">
        <ul>
            <li><a href="#classrooms">Classrooms</a></li>
            <li><a href="#teachers">Teachers</a></li>
        </ul>

        <div id="classrooms">
            <h2>Classrooms</h2>
        </div>

        <div id="teachers">
            <h2>Teachers</h2>
        </div>
    </div>
{% endblock %}
