table {
    font-size: 1.2rem;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    border: 4px solid darkorange;

    thead {
        tr {
            background-color: darkorange;

            th {
            }
        }
    }
}

.dark {
    background-color: #777;
}

.dailies td {
    background-color: lightskyblue;
}

.table {
    .buttons {
        display: flex;
        justify-content: space-between;
    }
}