html {
    background-color: $neutral;
}

body {
    max-width: 960px;
    margin: 0 auto;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    background-color: $neutral-light;
}

header {

    h1 {
        padding: 5px;
    }
}

main {
    @include container;
    min-height: 100vh;
    padding: 5px;
}

a {
    text-decoration: none;
}

h1 {
    margin-bottom: .5rem;
}

ul {
    list-style: none;
}
// Table and form are by their nature compound (ie, nested) elements.
// The base styling of each are contained in the corresponding file in the "components/" subdirectory.
table, form {}