main {
    position: relative;

    margin: 5rem auto;
    padding: 2rem 3rem;
    width: 90%;
    max-width: 600px;

    background-color: #bae3f2;
    border-radius: 7px;
    box-shadow: 2rem 2rem 2rem rgba(128, 128, 204, .2);
}

form.login-form {
    padding-top: 2rem;
}


form.login-form p {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}


.invalid-credentials {
    display: none;
    margin: 5px;
    padding: 20px;
    background-color: pink;
    color: orangered;
}
