<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="/attend.css">
        <title>Attend | Login</title>
    </head>

    <body id="login-page">
        <main>
            <form class="login-form" action="login.php" method="post">
                <p>Please enter your username and password to access the Attend application:</p>
                <input type="hidden" name="route" value="{{ route }}">

                <div id="form-error"></div>

                <div class="form-box required">
                    <label>Name</label>
                    <div class="control-group">
                        <input type="text" name="username" placeholder="User Name" value="{{ username }}">
                        <div class="error name-error"></div>
                    </div>
                </div>

                <div class="form-box required">
                    <label>Password</label>
                    <div class="control-group">
                        <input type="password" name="password" placeholder="Password" value="{{ password }}">
                        <div class="error password-error"></div>
                    </div>
                </div>

                {#  TODO: "Remember Me" checkbox #}
                {#                <div class="form-box form-box1"> #}
                {#                    <input type="checkbox" name="remember" {% if remember %}checked{% endif %}> #}
                {#                    <label class="always" for="">Remember Me</label> #}
                {#                </div> #}

                {# TODO: "Forgot Password" link #}

                {# TODO: "Request an Account" link #}

                <div class="form-box">
                    <button>Submit</button>
                </div>
            </form>
        </main>

        <script type="application/javascript" src="js/jquery-1.11.0.min.js"></script>
        <script src="js/attend.js"></script>
        <script src="js/login.js"></script>
    </body>
</html>