/* There is a lot going on here. */
main.container {
  position: absolute; /* Removed from normal flow; no space allotted for it. Positioned relative to closest positioned ancestor. */

  /* Width of an element with Position "absolute" does not seem to expand to its parent's width;
  * rather, it seems to expand to the width of its own content.  Setting the width seems to require
  * specifying both the "left" and "right" properties.
  */
  left: 0;
  right: 0;
  max-width: 1000px;
  top: 100px;

  /* Margin "auto" does not, by itself, center elements with position "absolute".  Left and right properties must also be set*/
  margin: 0 auto;

  z-index: -1;
}
