/* Based on:
 "Pure CSS Hamburger Menu & Overlay" by Traversy Media. April 4, 2019.  https://www.youtube.com/watch?v=DZg6UfS5zYg&t=1622s,
 "How to build a CSS ONLY Animated Hamburger Menu | Tutorial 2019" by Tyler Potts.  May 23, 2019.  https://www.youtube.com/watch?v=kKRpeFk613I
 */

/* Main navigation bar */
nav.main {
    position: fixed;
    height: $hamburger-height;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $primary;
    z-index: 1000;

    // Checkbox toggles the main menu on and off
    & input.toggle {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1002;
        opacity: 0;
        width: $hamburger-height;
        height: $hamburger-height;
        cursor: pointer;

        // When the user hovers over the toggle box, rotate the hamburger menu
        &:hover + div.hamburger {
            transform: rotate(-25deg);
            border-radius: 50%
        }

        &:checked {
            & + div.hamburger {
                transform: rotate(45deg);

                // Transform the "hamburger" into an X when the toggle is checked (and, ergo, menu is open)
                & div.bar::before,
                & div.bar::after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }

            &:hover + div.hamburger {
                transform: rotate(135deg);
            }

            & ~ ul.menu.main-menu.nav-menu li.menu-item {
                height: 50px;
            }
        }
    }

    // The 3-line hamburger menu "icon"
    & div.hamburger {
        top: 0;
        right: 0;
        width: $hamburger-height;
        height: $hamburger-height;
        padding: 1rem;
        z-index: 1001;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease;

        // Any of the three horizontal lines comprising the hamburger icon
        & div.bar {
            position: relative;
            width: 100%;
            height: 3px;
            transition: transform 0.2s linear;
            background: $text-color-light;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                transition: all 0.2s linear;
                background: $text-color-light;
            }

            &::before {
                top: -1rem;
            }

            &::after {
                top: 1rem;
            }
        }
    }
}



/* The Main Menu */
nav.main ul {
    /* Position and layout */
    position: absolute;
    z-index: 997; /* Under hamburger menu */

    /* Display and visibility */
    display: flex;
    flex-direction: column;
    opacity: .85;
    overflow: hidden;

    align-items: center;
    justify-content: center;

    /* Box model */
    margin: 0;
    width: 100%;
    padding-top: 10px;

    /* Background */
    background-color: $primary;
}

nav.main ul li {

    /* Animation */
    transition: height .4s ease;

    /* Box model */
    height: 0;
    width: 100%;

    /* Background and typography */
    font-size: 1.5rem;
    list-style: none;
    color: white;
    text-align: center;
}

nav.main ul li a {
    text-decoration: none;
    color: $text-color-light;
}

nav.main ul li a:hover {

    /* Animation */
    transition: border .2s ease;

    /* Box model */
    border-bottom: 2px solid $text-color-light;

    /* Style */
    text-decoration: none;
    text-align: center;
}


@media all and (min-width: 600px) {
    nav.main {
        height: 2em;
    }

    nav.main input.toggle,
    nav.main div.hamburger {
        display: none;
    }


    nav.main ul {

        top: 0;
        height: 100%;
        border: 1px solid yellow;

        /* Contents */
        flex-direction: row;
        justify-content: flex-start;
        flex-grow: 0;
    }

    nav.main ul li {
        width: 150px;
        height: auto;
    }

    nav.main ul li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: $text-color-light;
        border-bottom: none;
    }

    nav.main ul li a:hover {
        position: relative;
        color: $primary-dark;
        background-color: $text-color-light;
    }
}
