#attendance-tab,
#signin-tab {
  header {
    margin-bottom: 3rem;
  }

  section {
    div.table {
      margin-top: 3rem;
      border-top: 3px solid $primary;
      padding-top: 3rem;

      table {
      }
    }
  }
}
